{% extends 'base.html' %}
{% load static %}

{% block content %}
<main>
    <section class="py-5 pb-0 text-center container shadow p-3 mb-5 bg-white rounded">
        <div class="row py-lg-5 pb-0">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Welcome to About Me</h1>
                <p class="lead text-body-secondary">Here you will find extra information for you to gain more knowledge of who I am, my hobbies, and other parts of my day to day.</p>
            </div>
        </div>
    </section>

    <section id="about-me" class="py-5">
    <div class="container">
        <div class="row">
        <div class="col-lg-6">
            <h2>About Me</h2>
            <p>
                I have been working as a lead software developer for a 2D vector graphics software and have been working here for over 7 years. I am passionate about coding and often spend my spare time working on personal projects.
            </p>
            <p>
                I have a particular interest in crypto and quantitative data analysis, using trend following systems corrugated with various indicators to determine price movements. Given the exceptional Beta in Crypto, it makes the perfect asset if you have a strong system that can accurately pin-point the trend.
            </p>
            <p>
                Automation is a key aspect of my coding philosophy, and I strive to automate processes whenever possible. Whether it's streamlining workflows or optimizing repetitive tasks, I enjoy finding elegant solutions through code.
            </p>
        </div>
        <div class="col-lg-6">
            <h2>Personal Life</h2>
            <p>
                Aside from my professional endeavors, I am also a family man. I have a loving wife and a wonderful daughter who bring joy and balance to my life.
            </p>
            <p>
                Whenever I manage to find spare time, I enjoy playing games as a way to unwind and recharge. Some games I have played along the way are all the Blizzard titles, Dota and Dota 2, League of Legends, Counter strike series and many more!
            </p>
        </div>
        </div>
    </div>
    </section>

</main>


{% block styles %}
<style>

</style>
{% endblock %}
{% endblock %}
